#container_centre {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header a img {
    width:1000px;
    height:183px;
}

nav {
    float: left;
    width: 851px;
    margin: 0;
    padding: 0;
    background-color: #446B00;
}

article#content {
    top: 0;
    width: 645px;
    float: left;
    margin: 0;
    padding: 0 0 0 20px;
}

aside#side_bar {
    float: left;
    width: 75px;
    margin: 0px;
    padding: 0px;
}


#mc_embed_signup {
    font: 14px Helvetica, Arial, sans-serif;
    width: 150px;
    float: left;
    margin-left: 745px;
    margin-top:-180px;
}


aside#right_bar {
    float: left;
    width: 176px;
    margin: 0px;
    padding: 0px;
}

aside#side_bar_right {
    float: right;
    width: 74px;
}

footer {
    text-align: right;
    margin-top: 15px;
    clear: both;
    color: #FFFFFF;
    background-color: #446B00;
    margin-right: 76px;
    margin-left: 75px;
    padding: 5px 25px 5px 0px;
}