#container {
    width: 100%;
    left: 0;
    float: left;
    clear: both;
}

nav {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #446B00;
}

article#content {
    top: 0;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0 20px 0 20px;
}

aside#side_bar {
    float: left;
    width: 75px;
    margin: 0;
    padding: 0;
    display: none;
}

aside#right_bar {
    float: left;
    width: 176px;
    margin: 0;
    padding: 0;
    display: none;
}

aside#side_bar_right {
    float: right;
    width: 74px;
}

header {
    width: 850px;
    height: 183px;
    background: url("/images/header_portrait.jpg") no-repeat center center;
    background-size: cover;

}

footer {
    position: relative;
    width: 100%;
    text-align: right;
    margin-top: 5px;
    margin-bottom: 15px;
    clear: both;
    color: #FFFFFF;
    background-color: #446B00;
    padding-right: 20px;
}

#mc_embed_signup_top {
    display: none;
}

nav#left_bar {
    float: left;
    width: 85%;
    margin: 0;
    padding: 0;
}

aside#right_bar {
    float: left;
    width: 95%;
    margin: 0;
    padding: 0;
}

aside#side_bar_right {
    float: right;
    width: 76px;
    display: none;
}

.mobile_hide {
    display: none;
}
