body {
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#aboutme {
    position: absolute;
    top: 153px;
    left: 0;
}

#lessons {
    position: absolute;
    top: 116px;
    left: 0;
}

header a img {
    display: block;
}



article#content p {
    font-size: 1em;
    line-height: 1.4em;
}

article#content h1 {
    color: #406E00;
    font-size: 1.5em;
}





nav li
{
    display: inline;
    list-style-type: none;
    padding-right: 12px;
}

.newsletter_menu {
    border: solid #FFFFFF 1px;
    padding: 5px;
}

fieldset.apply_form {
    width: 90%;
}

.fb-like-box {
    margin-left: 5px;
}


li.menu_link {
    font-size: 1em;
    color: #FFF;
}

li.menu_link a {
    text-decoration: none;
    font-size: 1.0em;
    color: #FFF;
}

li.menu_link a:hover {
    text-decoration: none;
    color: #FFF;
}

li.menu_link a:active {
    text-decoration: none;
    color: #FFF;
}

h2.workshop_link a {
    text-decoration: none;
    font-size: 0.8em;
    color: #406E00;
}

h2.workshop_link a:hover {
    text-decoration: none;
    color: #111;
}

h2.workshop_link a:active {
    text-decoration: none;
    color: #111;
}

li.menu_link_sub {
    font-size: 0.7em;
    margin-left: 30px;
    margin-right: 15px;
    line-height: 0.8em;

}

li.menu_link_sub a {
    text-decoration: none;
    color: #FFF;
}

li.menu_link_sub a:hover {
    text-decoration: none;
    color: #FFF;
}

li.menu_link_sub a:active {
    text-decoration: none;
    color: #FFF;
}

.red {
    color: #990000;
    font-weight: bold;
}

.image_border {
    margin-right: 10px;
    border: 1px solid #333333;
}

.image_left {
    border: none;
    text-align: left;
}

.right_bar_break {
    display: block;
}

blockquote {
    font-style: italic;
}

/**
* Admin classes
*/
.admin_header {
    padding-left: 80px;
    padding-top:30px;
    height: 50px;
    background: #406E00;
    color: #FFFFFF;
    font-size: 20px;
}
